.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
*.bak
*.tmp
*.swp
*.swo
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage